In [50]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge #ordinary linear regression + w/ ridge regularization
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [55]:
df = pd.read_csv('/Users/Ajwad/Desktop/NBM_Regression_Gamma/yellow_tripdata_2021-03.csv') # Load tha dataset
df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2021-03-01 00:22:02,2021-03-01 00:23:22,1.0,0.00,1.0,N,264,264,2.0,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0
1,2.0,2021-03-01 00:24:48,2021-03-01 00:24:56,1.0,0.00,1.0,N,152,152,2.0,2.50,0.50,0.5,0.00,0.00,0.3,3.80,0.0
2,2.0,2021-03-01 00:25:17,2021-03-01 00:31:01,1.0,0.00,1.0,N,152,152,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
3,1.0,2021-03-01 00:07:40,2021-03-01 00:31:23,0.0,16.50,4.0,N,138,265,1.0,51.00,0.50,0.5,11.65,6.12,0.3,70.07,0.0
4,2.0,2021-03-01 00:02:13,2021-03-01 00:06:01,1.0,1.13,1.0,N,68,264,1.0,5.50,0.50,0.5,1.86,0.00,0.3,11.16,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925147,NaN,2021-03-29 12:39:29,2021-03-29 13:06:30,NaN,13.18,NaN,NaN,135,75,NaN,34.76,2.75,0.5,0.00,6.12,0.3,44.43,0.0
1925148,NaN,2021-03-29 12:11:00,2021-03-29 12:28:00,NaN,2.60,NaN,NaN,107,163,NaN,18.34,2.75,0.5,0.00,0.00,0.3,21.89,0.0
1925149,NaN,2021-03-29 12:50:00,2021-03-29 13:14:00,NaN,5.50,NaN,NaN,137,17,NaN,37.76,2.75,0.5,0.00,0.00,0.3,41.31,0.0
1925150,NaN,2021-03-29 12:12:00,2021-03-29 12:32:00,NaN,3.78,NaN,NaN,177,85,NaN,-1.55,2.75,0.5,0.00,23.50,0.3,25.50,0.0
1925151,NaN,2021-03-29 12:31:00,2021-03-29 13:03:00,NaN,11.46,NaN,NaN,216,217,NaN,48.85,2.75,0.5,0.00,0.00,0.3,52.40,0.0

In [56]:
df.shape

(1925152, 18)

In [58]:
X, y = df.drop('total_amount',axis=1), df['total_amount']

X, X_test, y, y_test = train_test_split(X, y, test_size=.2, random_state=10)

In [59]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=.25, random_state=5)

In [60]:
X_train.shape

(1155090, 17)

In [61]:
X_train.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
congestion_surcharge     float64
dtype: object

In [48]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078366 entries, 964410 to 36587
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1078366 non-null  float64
 1   tpep_pickup_datetime   1078366 non-null  object
 2   tpep_dropoff_datetime  1078366 non-null  object
 3   passenger_count        1078366 non-null  float64
 4   trip_distance          1078366 non-null  float64
 5   RatecodeID             1078366 non-null  float64
 6   store_and_fwd_flag     1078366 non-null  object
 7   PULocationID           1078366 non-null  int64
 8   DOLocationID           1078366 non-null  int64
 9   payment_type           1078366 non-null  float64
 10  fare_amount            1078366 non-null  float64
 11  extra                  1078366 non-null  float64
 12  mta_tax                1078366 non-null  float64
 13  tip_amount             1078366 non-null  float64
 14  tolls_amount           1078366 non-null  float64
 15  improvement_surcharge  1078366 non-null  float64
 16  congestion_surcharge   1078366 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 148.1+ MB

In [62]:
nulls = X_train.isnull().sum().to_frame()# (to_frame():Convert Series to DataFrame),(sum():To sum the number of missing values),(isnull()to detect missing values)
nulls.columns = ["Missing values"] 
nulls

                       Missing values
VendorID                        76724
tpep_pickup_datetime                0
tpep_dropoff_datetime               0
passenger_count                 76724
trip_distance                       0
RatecodeID                      76724
store_and_fwd_flag              76724
PULocationID                        0
DOLocationID                        0
payment_type                    76724
fare_amount                         0
extra                               0
mta_tax                             0
tip_amount                          0
tolls_amount                        0
improvement_surcharge               0
congestion_surcharge                0

In [63]:
X_train = X_train.dropna(how ='any')

In [64]:
nulls = X_train.isnull().sum().to_frame()# (to_frame():Convert Series to DataFrame),(sum():To sum the number of missing values),(isnull()to detect missing values)
nulls.columns = ["Missing values"] 
nulls

                       Missing values
VendorID                            0
tpep_pickup_datetime                0
tpep_dropoff_datetime               0
passenger_count                     0
trip_distance                       0
RatecodeID                          0
store_and_fwd_flag                  0
PULocationID                        0
DOLocationID                        0
payment_type                        0
fare_amount                         0
extra                               0
mta_tax                             0
tip_amount                          0
tolls_amount                        0
improvement_surcharge               0
congestion_surcharge                0

In [65]:
X_train.shape

(1078366, 17)

In [36]:
Year = X_train["tpep_pickup_datetime"].dt.year
Month = X_train["tpep_pickup_datetime"].dt.month 
Month = X_train["tpep_pickup_datetime"].dt.day

AttributeError: Can only use .dt accessor with datetimelike values